@font-face {
	font-family: "SignikaNegative";
	src: url("/assets/fonts/SignikaNegative-Regular.ttf") format("truetype");
	font-weight: 400;
}

@font-face {
	font-family: "SignikaNegative";
	src: url("/assets/fonts/SignikaNegative-Medium.ttf") format("truetype");
	font-weight: 500;
}

@font-face {
	font-family: "SignikaNegative";
	src: url("/assets/fonts/SignikaNegative-SemiBold.ttf") format("truetype");
	font-weight: 600;
}
